
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Poppins", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.woff2"), url("fonts/Poppins-Regular.woff");
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.woff2"), url("fonts/Poppins-Bold.woff");
    font-weight: bold;
  }
  

body {
    background: linear-gradient(180deg, #12F4A3 0%, #A8B1FF 100%);
    width: 100vw;
    height: 100vh;
    justify-content:center ;
    align-items: center;
}


header {
   
}


nav {
    color: white ; 

}
.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    list-style: none;
    margin : 10px;
    padding: 15px;
    
}

.profil {
    width: 39px;
    height: 39px;
    left: 132px;
    top: 22px;
}

.parametre {
    left: 54.13%;
    right: 34.4%;
    top: 3.08%;
    bottom: 90.9%;
}

section {
    color: white;
}

.mybatch {
    width: 255px;
    height: 80px;
    left: 64px;
    top: 111px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F9F9F9;
    border-radius: 15px;
    font-family: poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    color: #2AEAB1;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 10px;
}

h1 {
    text-align: center ;
}

h2 {
    text-align: center;
    margin: 15px;
    font-weight: normal;
}

h5 {
    font-size: 13px;
    margin: auto;
}
.jour {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 69%;
    
}

.journee {
    display: flex;
    align-items: center;
    justify-content: center;
}


.change {
    width: 12px;
    height: 12px;
    left: 194px;
    top: 272px;

}

.container_day {
width: 60px;
height: 60px;
color: white;
background: rgba(168, 177, 255, 0.6);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin : 2px;
padding: 0;
display: flex;
justify-content: center;
align-items: center;

}

.programme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 7px;
    border: solid #F9F9F9;
    border-radius: 15px 15px 15px 15px;
    box-sizing: content-box;  
    
}

.monfrigo {
    width: 82px;
    height: 90px;
    left: 65px;
    top: 474px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin:1px;
    justify-content: space-evenly;
    font-size: 0.70rem;
}


.option {
    align-items: center;
    justify-content: center;
}

.ingredients {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 44px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F9F9F9;
    border-radius: 18px 18px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #67CFD7;
    margin : 0 auto;
    margin-bottom: 10px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meslistes {
width: 82px;
height: 90px;
border: 4px solid #FFFFFF;
box-sizing: border-box;
border-radius: 0px 0px 15px 15px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin : 1px;
justify-content: space-evenly;
font-size: 0.70rem;
}

.magasins {
width: 82px;
height: 90px;
border: 4px solid #FFFFFF;
box-sizing: border-box;
border-radius: 0px 0px 15px 15px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin: 1px;
justify-content: space-evenly;
font-size: 0.70rem;
}

.chariot {
    margin: 8px;
}
footer {
    display: flex;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.suivi {
    display: flex;
    padding: 10px;
    margin: 20px;
}

.home {
    display: flex;
    padding: 10px;
    margin: 20px;
}

.article {
    display: flex;
    padding: 10px;
    margin: 20px;
}

@media (min-width: 400px) {
    ul {
        flex-direction: row;
    }
}

.retour {
    margin-right: 100px;
}

.repas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 344px;
    height: 44px;
    left: 65px;
    top: 419px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F9F9F9;
    border-radius: 18px 18px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: rgba(41, 235, 177, 1);
    margin : 0 auto;
}


.diete {
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: solid #F9F9F9;
    border-radius: 15px 15px 15px 15px;
    font-size: 12px;
    color: white;
    margin : 2px;
    margin-top: 10px;
    padding: 20px;
    width: 65px;
    height: 75px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset 0px 0px 60px rgba(238, 238, 238, 0.25);
    backdrop-filter: blur(12px);
    font-weight: bold;
    

}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: solid #F9F9F9;
    border-radius: 15px 15px 15px 15px;
    box-sizing: content-box;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset 0px 0px 60px rgba(238, 238, 238, 0.25);
    backdrop-filter: blur(12px);

}

.ou {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}


.hebdomadaire {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 44px;
    left: 65px;
    top: 419px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F9F9F9;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 27px;
    color: #67CFD7;
    margin : 0 auto;
    margin-bottom: 10px;

}

.vegan {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 344px;
    height: 67.42px;
    left: 65px;
    top: 419px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F9F9F9;
    border-radius: 18px 18px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: rgba(41, 235, 177, 1);
    margin : 0 auto;
   
}

.recette_jour {
    display: flex;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F9F9F9;
    border-radius: 18px 18px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: rgba(41, 235, 177, 1);
    margin : 0 auto;
    border-radius: 15px 15px 15px 15px;
    margin: 12px;

}

.recette {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F9F9F9;
    font-size: 12px;
    color: white;
    margin : 10px;
    margin-top: 10px ;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset 0px 0px 60px rgba(238, 238, 238, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 15px 15px 15px 15px;
}